html {
    background: #FFFFFF;
}
body {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

#map {
	position: relative;
}
.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	display: none;
	font-size: 12px;
	left: 130px;
	padding: 10px 20px 10px 20px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 1000;
}

.column {
	float: left;
	display: block;
    border-right: 2px solid #eee;
}
.left {
	padding: 15px 15px;
}
.right {
	padding-left: 10px;
    border: none;
}

.background {
  fill: none;
  pointer-events: all;
}

#description {
	width: 420px;
	height: 45px;
}

/*svg layout */
path {
	stroke-linejoin: round;
	stroke-linecap: round;
}
.provincie path {
	stroke: #fff;
	stroke-width: 0.5px;
}
.gemeente path {
	stroke: #2C2C2C;
	stroke-width: 0.2px;
}
.gemeente path:hover, .hover {
	fill: lightblue;
}
.gemeente path.active_gem {	
	fill: steelblue;
}

.provincie path.active_prov {	
	display: none;
}

/* barchart */
#visual .bar {
  fill: steelblue;
}

#visual .bar:hover {
  fill: brown;
}

#visual .axis {
  font: 10px sans-serif;
}

#visual .axis path,
#visual .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#visual .x.axis path {
  display: none;
}

#visual .line, .line2 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line2 {
    stroke: red;
}

/* treemap */
#visual .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/* instructies */
#instructieBox {
	display: block;
    font-size: 12pt;
    font-weight: 300;
	background: rgba(238, 238, 238, 0.55);
	padding: 10px;
    text-align: center;
    display: block;
    position: absolute;
}

#legend {
	display: block;
	background: rgba(255, 255, 255, 0.55);
	width: auto;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

div.node > span:nth-child(1) {
    text-align: center;
    width: 100%;
    display: block;
    vertical-align: middle;
    top: calc(50% - 1.5em);
    position: relative;
    font-weight: bold;
    word-break: break-all;
    color: rgba(0, 0, 0, 0.575);
}

#breadcrumb {
    font-size: 11.5pt;
}

#provincie {
    font-size: 10.5pt;
}

#gemeente {
    font-size: 9.5pt;
}

svg image:hover {
	cursor: pointer;
}
