html {
    background: #FFFFFF;
}
body {
  font: 11px sans-serif;
}

#header {
    padding:10px 25px 0 25px;
}
h1 {
    border-bottom:1px #D6D6D6 solid;
    padding-left:10px;
}
#footer {
    text-align: center;
    margin:0 25px;
    padding:0 25px 10px 25px;
    color:#555;
    border-top:1px #D6D6D6 solid;
}

#map {
	position: relative;
	background-color: #ECF3FD;
}
.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	display: none;
	font-size: 12px;
	left: 130px;
	padding: 10px 20px 10px 20px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 1000;
}

.column {
	float: left;
	display: block;
    margin: 10px 2.5%;
    height: calc(100% - 20px);
	width: calc(45% - 2px);
    border-right: 2px solid #eee;
}
.right {
    border: none;
}

.background {
  fill: none;
  pointer-events: all;
}

#description {
	width: 250px;
}

/*svg layout */
path {
	stroke-linejoin: round;
	stroke-linecap: round;
}
.provincie path {
	stroke: #fff;
	stroke-width: 0.5px;
}
.gemeente path {
	stroke: #2C2C2C;
	stroke-width: 0.2px;
}
.gemeente path:hover, .provincie path:hover {
	fill: lightblue;
}
.gemeente path.active_gem {	
	fill: steelblue;
}

.provincie path.active_prov {	
	display: none;
}

/* barchart */
#visual .bar {
  fill: steelblue;
}

#visual .bar:hover {
  fill: brown;
}

#visual .axis {
  font: 10px sans-serif;
}

#visual .axis path,
#visual .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#visual .x.axis path {
  display: none;
}

#visual .line, .line2 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line2 {
    stroke: red;
}

/* treemap */
#visual .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/* instructies */
#instructieBox {
	float: right;
	display: block;
	width: 50%;
	margin: 0 25px 0 0;
	background: #eeeeee;
	padding: 10px;
}
